*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: gilroy;
}
body,html{
    height: 100%;
    width: 100%;
    gap: 5px;
    background-color: #e8e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 250px;
    z-index: 99;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    overflow: hidden;
}
#card #photo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}
#card p{
    padding: 10px 10px;
    text-align: center;
}
#card h3{
    font-size: 20px;
    padding: 5px;
}
#card h5{
    color: rgb(0, 0, 0);
}
#card p{
    font-size: 10px;
    opacity: .7;
}
#card button{
    width: 100px;
    height: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20% solid 1px ;
}
#Friendrequestsent{
    font-size: 20px;
    color: rgb(177, 177, 12);
}
#Friends{
    color: green;
}
#Stranger{
    color: red;
}
#RemoveFriend{
    background-color: red;
}

.blue{
    background-color: royalblue;
}

.red{
    background-color: red;
}